@import "tailwindcss";

@theme {
  --font-serif: "Shippori Mincho", Georgia, serif;
  --font-sans: "Noto Sans TC", system-ui, sans-serif;
  --color-kanban-bg: #0A0806;
  --color-column-bg: #14110E;
  --color-brand-todo: #D9AD4A;
  --color-brand-doing: #EBC463;
  --color-brand-done: #BE984D;
}

body {
  background-color: #0A0806;
  color: #E3D7C5;
  font-family: "Noto Sans TC", system-ui, sans-serif;
}

